<%- include('../partials/header.ejs') %>

    <div class="container">

    <%- include('../partials/menu.ejs') %>

        <div class="card">
            <div class="card-header"><h3>LISTAGEM DE CLIENTES</h3></div>
        </div>

    <%
        cliente.data.forEach(cliente=>{      
    %>
        <div class="card mt-2 p-1">
            <div class="card-body">
                <%= cliente.nome_Cliente %>
            </div>

            <div class="btn btn-dark mr-2">
                <a href="/editarClientes/<%= cliente.id_Clientes %>" class="btn btn-outline-primary mr-2 ml-2">EDITAR CLIENTE</a>
                <a href="#" class="btn btn-outline-danger mr-2 ml-2">EXCLUIR CLIENTE</a>
            </div>
        </div>

    <% }) %>

    </div>

</body>

<%- include('../partials/footer.ejs') %>

</html>